Repository cimd/vue-eloquent, changes with the labels that .github/labeler.yml gives for each.
All labels: test, example, api, model, collection, devtools, plugins, helpers, states, enums

.github/labeler.yml:

test: test/**
example: example/**
api: src/api/**
model: src/model/**
collection: src/collection/**
devtools: src/devtools/**
plugins: src/plugins/**
helpers: src/helpers/**
states: src/states/**
enums: src/enums/**

d
  README.md
  package.json
Labels: none

Tests
  CHANGELOG.md
  examples/PostError.ts
  examples/PostErrorApi.ts
  examples/PostsErrorCollection.ts
  src/directives/Model.ts
  src/directives/Validate.ts
  src/index.ts
  src/model/Validator.ts
  src/plugins/EloquentPlugin.ts
  test/mocks/http-handlers/error-handlers.ts
  test/mocks/http-handlers/post-handlers.ts
  test/vitest/__tests__/Api.test.ts
  test/vitest/__tests__/ApiError.test.ts
  test/vitest/__tests__/ApiQuery.test.ts
  test/vitest/__tests__/Collection.test.ts
  test/vitest/__tests__/DevTools.test.ts
  test/vitest/__tests__/Model.test.ts
  test/vitest/__tests__/ModelError.test.ts
Labels: test, model, plugins

Tests
  src/plugins/PiniaApiPlugin.ts
  test/mocks/http-handlers/handlers.ts
  test/mocks/http-handlers/pinia-api-handlers.ts
  test/vitest/__tests__/PiniaApiPlugin.test.ts
Labels: test, plugins

TEsts
  examples/Acl.ts
  test/vitest/__tests__/Acl.test.ts
  test/vitest/__tests__/Collection.test.ts
Labels: test

1.0.0
  CHANGELOG.md
  package.json
  src/api/ApiQuery.ts
  src/index.ts
  src/model/Model.ts
  src/plugins/PiniaApiPlugin.ts
  src/plugins/StoreApi.ts
  src/states/StateApi.ts
  src/states/Store.ts
  test/mocks/http-handlers/pinia-api-handlers.ts
  test/vitest/__tests__/Collection.test.ts
Labels: test, api, model, plugins, states

Update ApiError.test.ts
  test/vitest/__tests__/ApiError.test.ts
Labels: test

Tests
  CHANGELOG.md
  src/broadcast/broadcast.ts
  src/model/Model.ts
  test/vitest/__tests__/Broadcast.test.ts
  test/vitest/__tests__/Http.test.ts
  test/vitest/__tests__/Model.test.ts
Labels: test, model

d
  src/App.vue
  src/events/Broadcast.ts
  src/events/Event.ts
  test/mocks/PostsEvent.ts
Labels: test

Revert "d"
  src/App.vue
  src/events/Broadcast.ts
  src/events/Event.ts
  test/mocks/PostsEvent.ts
Labels: test

Update package.json
  package.json
Labels: none

new interfaces
  CHANGELOG.md
  package.json
  src/api/ApiQuery.ts
  src/api/IApi.ts
  src/api/IApiResponse.ts
  src/api/IAxiosError.ts
  src/collection/Collection.ts
  src/collection/ICollection.ts
  src/collection/IQuery.ts
  src/collection/IQueryPage.ts
  src/index.d.ts
  src/model/IModel.ts
  src/model/IModelState.ts
  src/model/Model.ts
Labels: api, model, collection

Update EloquentError.ts
  src/EloquentError.ts
Labels: none

Update Permissions.ts
  src/acl/Permissions.ts
Labels: none

Update IApi.ts
  src/api/IApi.ts
Labels: api

Update Model.ts
  src/model/Model.ts
Labels: model

Update Model.ts
  src/model/Model.ts
Labels: model

types
  src/collection/Collection.ts
  src/index.d.ts
  src/model/IModelParams.ts
  src/model/Model.ts
Labels: model, collection

clean up
  examples/UserStore.ts
  src/api/Api.ts
  src/api/IApi.ts
  src/model/Model.ts
  src/plugins/PiniaApiPlugin.ts
Labels: api, model, plugins

relationships
  examples/CommentApi.ts
  examples/Post.ts
  src/App.vue
  src/api/Api.ts
  src/api/IApi.ts
  src/model/Model.ts
  test/mocks/PostQueryApi.ts
  test/mocks/PostsQueryCollection.ts
  test/mocks/http-handlers/handlers.ts
  test/mocks/http-handlers/pinia-api-handlers.ts
  test/mocks/http-handlers/post-author-handlers.ts
  test/mocks/http-handlers/post-comment-handlers.ts
  test/mocks/http-handlers/post-query-handlers.ts
  test/vitest/__tests__/Model.test.ts
  test/vitest/__tests__/ModelRelationship.test.ts
Labels: test, api, model

types & policy
  CHANGELOG.md
  examples/Acl.ts
  examples/UserStore.ts
  package.json
  src/index.d.ts
  src/index.ts
  src/model/IModel.ts
  src/policy/IPolicy.ts
  src/policy/Policy.ts
Labels: model

1.1.0
  CHANGELOG.md
  package.json
  src/api/IApi.ts
  src/collection/ICollection.ts
  src/model/IModel.ts
  src/policy/IPolicy.ts
  tsconfig.json
Labels: api, model, collection

bump
  CHANGELOG.md
  package.json
  yarn.lock
Labels: none

Removing Event exports
  CHANGELOG.md
  src/index.ts
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

d
  .idea/jsLibraryMappings.xml
  CHANGELOG.md
  package.json
  src/api/ApiQuery.ts
  src/collection/IQuery.ts
  src/collection/IQueryPage.ts
  test/vitest/__tests__/ApiQuery.test.ts
Labels: test, api, collection

d
  package.json
  yarn.lock
Labels: none

d
  src/App.vue
  test/mocks/PostsEvent.ts
Labels: test

d
  examples/Post.ts
  examples/UserInterface.ts
  package.json
  src/App.vue
  src/api/ApiError.ts
  src/api/IAxiosError.ts
  src/events/Channel.ts
  src/events/Event.ts
  src/events/EventError.ts
  src/events/EventTypes.ts
  src/events/IEvent.ts
  src/events/PresenceChannel.ts
  src/events/PrivateChannel.ts
  src/index.ts
  src/listeners/IListener.ts
  src/listeners/Listener.ts
  src/listeners/ListenerError.ts
  test/vitest/__tests__/Event.test.ts
  test/vitest/__tests__/Listener.test.ts
  yarn.lock
Labels: test, api

d
  package.json
  yarn.lock
Labels: none

Update package.json
  package.json
Labels: none

Update package.json
  package.json
Labels: none

1.1.2
  CHANGELOG.md
  package.json
  src/model/Model.ts
Labels: model

Import Api class from Api file, without curly braces
  src/index.d.ts
Labels: none

Update index.d.ts
  src/index.d.ts
Labels: none

Export more variables
  src/index.d.ts
Labels: none

Use Api instead of IApi in Collection class
  src/collection/ICollection.ts
Labels: collection

Make the constants & functions to have protected visilibity instead of public (default)
  src/collection/ICollection.ts
  src/model/IModel.ts
Labels: model, collection

v1.1.3
  CHANGELOG.md
  package.json
  yarn.lock
Labels: none

bump
  CHANGELOG.md
  package.json
  yarn.lock
Labels: none

Update Policy.ts
  src/policy/Policy.ts
Labels: none
