Repository cimd/vue-eloquent, changes with the labels that .github/labeler.yml gives for each.
All labels: test, example, api, model, collection, devtools, plugins, helpers, states, enums

tests
  test/vitest/__tests__/Auth.test.ts
  test/vitest/__tests__/devtools.test.ts
  vitest.config.js
Labels: test

prep 1.4.6
  CHANGELOG.md
  package.json
Labels: none

chores
  test/vitest/__tests__/Api.test.ts
  test/vitest/__tests__/DevTools.test.ts
  test/vitest/__tests__/devtools.test.ts
  tsconfig.json
Labels: test

d
  CHANGELOG.md
  package.json
  src/api/Api.ts
Labels: api

d
  CHANGELOG.md
  dist/index.d.ts
  dist/src/api/Api.d.ts
  dist/src/api/ApiQuery.d.ts
  dist/src/collection/Collection.d.ts
  dist/src/enums/Action.d.ts
  dist/src/model/Model.d.ts
  dist/vue-eloquent.js
  dist/vue-eloquent.js.map
  dist/vue-eloquent.umd.cjs
  dist/vue-eloquent.umd.cjs.map
  package.json
Labels: none

d
  CHANGELOG.md
  dist/vue-eloquent.js
  dist/vue-eloquent.js.map
  dist/vue-eloquent.umd.cjs
  dist/vue-eloquent.umd.cjs.map
  package.json
  yarn.lock
Labels: none

1.4.10
  CHANGELOG.md
  dist/index.d.ts
  dist/vue-eloquent.js
  dist/vue-eloquent.js.map
  dist/vue-eloquent.umd.cjs
  dist/vue-eloquent.umd.cjs.map
  notes.md
  package.json
  yarn.lock
Labels: none

Update LICENSE
  LICENSE
Labels: none

Add static send() and url() helpers to Api
  CHANGELOG.md
  src/api/Api.ts
  test/vitest/__tests__/Api.test.ts
Labels: test, api

d
  .github/workflows/lint.yml
  .github/workflows/unit.yml
Labels: none

Release 1.6.0
  CHANGELOG.md
  dist/src/api/Api.d.ts
  dist/vue-eloquent.js
  dist/vue-eloquent.js.map
  dist/vue-eloquent.umd.cjs
  dist/vue-eloquent.umd.cjs.map
  package.json
Labels: none

Create AGENTS.md
  AGENTS.md
Labels: none

Bump dependencies
  package.json
  yarn.lock
Labels: none

Fix ESLint config and a no-useless-assignment error
  eslint.config.js
  src/model/Model.ts
Labels: model

Prefix unused hook parameters with an underscore
  AGENTS.md
  src/api/Api.ts
  src/collection/Collection.ts
  src/model/Model.ts
Labels: api, model, collection

Fix DevTools test under vitest 5
  test/vitest/__tests__/DevTools.test.ts
Labels: test

Fix EloquentError, ApiError and Model.save error handling
  AGENTS.md
  CHANGELOG.md
  src/EloquentError.ts
  src/api/Api.ts
  src/api/ApiError.ts
  src/api/IAxiosError.ts
  src/collection/CollectionError.ts
  src/model/Model.ts
  src/model/ModelError.ts
  test/vitest/__tests__/ApiError.test.ts
  test/vitest/__tests__/EloquentError.test.ts
Labels: test, api, model, collection

Fix PHP requirement in README
  README.md
Labels: none

Release 1.7.0
  CHANGELOG.md
  dist/src/EloquentError.d.ts
  dist/src/api/Api.d.ts
  dist/src/api/ApiError.d.ts
  dist/src/api/IAxiosError.d.ts
  dist/src/collection/Collection.d.ts
  dist/src/collection/CollectionError.d.ts
  dist/src/model/Model.d.ts
  dist/src/model/ModelError.d.ts
  dist/vue-eloquent.js
  dist/vue-eloquent.js.map
  dist/vue-eloquent.umd.cjs
  dist/vue-eloquent.umd.cjs.map
  package.json
Labels: none

Add Api.first() and latest() query helper
  dist/src/api/Api.d.ts
  dist/src/api/ApiQuery.d.ts
  dist/vue-eloquent.js
  dist/vue-eloquent.js.map
  dist/vue-eloquent.umd.cjs
  dist/vue-eloquent.umd.cjs.map
  package.json
  src/api/Api.ts
  src/api/ApiQuery.ts
  test/vitest/__tests__/Api.test.ts
  test/vitest/__tests__/ApiQuery.test.ts
Labels: test, api

Document Api.first() and latest()
  AGENTS.md
  CHANGELOG.md
Labels: none

Add ApiQuery.limit() and use it in Api.first()
  .claude/settings.local.json.tmp.20778.bd0c49c65a0d
  AGENTS.md
  CHANGELOG.md
  dist/src/api/Api.d.ts
  dist/src/api/ApiQuery.d.ts
  dist/src/collection/IQuery.d.ts
  dist/vue-eloquent.js
  dist/vue-eloquent.js.map
  dist/vue-eloquent.umd.cjs
  dist/vue-eloquent.umd.cjs.map
  package.json
  src/api/Api.ts
  src/api/ApiQuery.ts
  src/collection/IQuery.ts
  test/vitest/__tests__/Api.test.ts
  test/vitest/__tests__/ApiQuery.test.ts
Labels: test, api, collection

Delete settings.local.json.tmp.20778.bd0c49c65a0d
  .claude/settings.local.json.tmp.20778.bd0c49c65a0d
Labels: none

Delete notes.md
  notes.md
Labels: none

Add Model.getState() and Collection.getState() for state management (1.9.0)
  AGENTS.md
  CHANGELOG.md
  dist/src/collection/Collection.d.ts
  dist/src/helpers/states.d.ts
  dist/src/index.d.ts
  dist/src/model/Model.d.ts
  dist/vue-eloquent.js
  dist/vue-eloquent.js.map
  dist/vue-eloquent.umd.cjs
  dist/vue-eloquent.umd.cjs.map
  package.json
  src/auth/Auth.ts
  src/collection/Collection.ts
  src/helpers/states.ts
  src/index.ts
  src/model/Model.ts
  test/vitest/__tests__/CollectionState.test.ts
  test/vitest/__tests__/ModelState.test.ts
Labels: test, model, collection, helpers

.github/labeler.yml:

test: test/**
example: example/**
api: src/api/**
model: src/model/**
collection: src/collection/**
devtools: src/devtools/**
plugins: src/plugins/**
helpers: src/helpers/**
states: src/states/**
enums: src/enums/**
