Repository cimd/vue-eloquent, changes with the labels that .github/labeler.yml gives for each.
All labels: test, example, api, model, collection, devtools, plugins, helpers, states, enums

Update http.ts
  src/http/http.ts
Labels: none

Auth
  CHANGELOG.md
  package.json
  src/auth/Auth.ts
  src/index.d.ts
  src/index.ts
  yarn.lock
Labels: none

update on Auth class
  src/auth/Auth.ts
  src/index.ts
Labels: none

Update http.ts
  src/http/http.ts
Labels: none

Update Auth.ts
  src/auth/Auth.ts
Labels: none

1.3.0
  CHANGELOG.md
  package.json
Labels: none

d
  src/index.d.ts
  src/plugins/PiniaApi.ts
  src/plugins/PiniaApiPlugin.ts
Labels: plugins

d
  src/plugins/PiniaApi.ts
  src/plugins/PiniaApiPlugin.ts
Labels: plugins

Update PiniaApiPlugin.ts
  src/plugins/PiniaApiPlugin.ts
Labels: plugins

Update PiniaApiPlugin.ts
  src/plugins/PiniaApiPlugin.ts
Labels: plugins

Update PiniaApiPlugin.ts
  src/plugins/PiniaApiPlugin.ts
Labels: plugins

Update PiniaApiPlugin.ts
  src/plugins/PiniaApiPlugin.ts
Labels: plugins

Update PiniaApiPlugin.ts
  src/plugins/PiniaApiPlugin.ts
Labels: plugins

Removing PiniaPlugin
  CHANGELOG.md
  package.json
  src/index.d.ts
  src/index.ts
  src/plugins/PiniaApiPlugin.ts
  src/plugins/StoreApi.ts
  test/vitest/__tests__/PiniaApiPlugin.test.ts
  yarn.lock
Labels: test, plugins

Update package.json
  package.json
Labels: none

The result of running these commands: 1. npx nx@latest init 2. rename .eslintrc.js to .eslintrc.js.old 3. create .eslintrc.json 4. yarn nx g @nx/eslint:convert-to-flat-config --verbose
  .eslintrc.cjs.old
  .gitignore
  eslint.config.js
  nx.json
  package.json
  yarn.lock
Labels: none

Move file extension list to eslint.config.js
  eslint.config.js
  package.json
Labels: none

Upgrade eslint lib to version 9
  package.json
  yarn.lock
Labels: none

Merge 2 files config into 1, inside eslint.config.js
  eslint.config.js
Labels: none

Remove deprecated --ignore-path parameter, and move it to eslint.config.js as `ignores` config
  eslint.config.js
  package.json
Labels: none

Bump the version of dependencies which related eslint
  package.json
  yarn.lock
Labels: none

Rename eslint.config.js to eslint.config.mjs to make it work
  eslint.config.mjs
Labels: none

Remove .eslintrc.cjs.old (the backup file of .eslintrc.cjs)
  .eslintrc.cjs.old
Labels: none

Remove nx lib and all of its related code & files
  .gitignore
  nx.json
  package.json
  yarn.lock
Labels: none

Commiting the result of new `yarn lint` command
  src/api/Api.ts
Labels: api

bump
  CHANGELOG.md
  package.json
  yarn.lock
Labels: none

d
  CHANGELOG.md
  package.json
  src/helpers/objects/__tests__/diff.vitest.test.ts
  src/helpers/objects/diff.ts
  src/helpers/strings/joinUrl.ts
  yarn.lock
Labels: helpers

v2
  CHANGELOG.md
  package.json
  src/api/ApiV2.ts
  src/helpers/SerializeModel.ts
  src/index.d.ts
  src/index.ts
  src/model/ModelV2.ts
  yarn.lock
Labels: api, model, helpers

testing
  examples/MyCast.ts
  examples/PostApiV2.ts
  examples/PostV2.ts
  package.json
  src/api/ApiV2.ts
  src/helpers/SerializeModel.ts
  src/helpers/strings/joinUrl.ts
  src/model/ModelV2.ts
  src/model/ValidatorV2.ts
  test/vitest/__tests__/ApiV2.test.ts
  test/vitest/__tests__/ModelV2.test.ts
Labels: test, api, model, helpers

v2
  src/api/ApiError.ts
  src/api/ApiV2.ts
  src/collection/ICollection.ts
  src/helpers/SerializeModel.ts
  src/model/ModelV2.ts
  src/model/ValidatorV2.ts
  test/vitest/__tests__/ApiV2.test.ts
Labels: test, api, model, collection, helpers

ApiV2 & ModelV2
  examples/MyCast.ts
  src/api/ApiV2.ts
  src/helpers/objects/diff.ts
  src/model/ModelV2.ts
  src/model/ValidatorV2.ts
Labels: api, model, helpers

Update ModelV2.ts
  src/model/ModelV2.ts
Labels: model

model v2
  src/helpers/SerializeModel.ts
  src/helpers/objects/diff.ts
  src/model/ModelV2.ts
Labels: model, helpers

Update ValidatorV2.ts
  src/model/ValidatorV2.ts
Labels: model

v2
  src/api/ApiV2.ts
  src/helpers/objects/SerializeModel.ts
  src/model/ModelV2.ts
  src/model/ValidatorV2.ts
Labels: api, model, helpers

testing
  src/api/ApiV2.ts
  src/model/ModelV2.ts
  src/model/ValidatorV2.ts
Labels: api, model

Update ApiV2.ts
  src/api/ApiV2.ts
Labels: api

d
  src/api/ApiV2.ts
  src/api/BaseApiV2.ts
  src/index.d.ts
  src/index.ts
  src/model/ModelV2.ts
Labels: api, model

d
  src/api/ApiV2.ts
  src/api/functions/show.ts
  src/api/functions/transformResponse.ts
Labels: api

d
  src/api/ApiV2.ts
  src/api/BaseApiV2.ts
  src/api/functions/show.ts
  src/api/functions/transformResponse.ts
  src/model/ModelV2.ts
  test/vitest/__tests__/ApiV2.test.ts
Labels: test, api, model

.github/labeler.yml:

test: test/**
example: example/**
api: src/api/**
model: src/model/**
collection: src/collection/**
devtools: src/devtools/**
plugins: src/plugins/**
helpers: src/helpers/**
states: src/states/**
enums: src/enums/**
