Repository cimd/vue-eloquent, changes with the labels that .github/labeler.yml gives for each.
All labels: test, example, api, model, collection, devtools, plugins, helpers, states, enums

.github/labeler.yml:

test: test/**
example: example/**
api: src/api/**
model: src/model/**
collection: src/collection/**
devtools: src/devtools/**
plugins: src/plugins/**
helpers: src/helpers/**
states: src/states/**
enums: src/enums/**

bump
  CHANGELOG.md
  package.json
  yarn.lock
Labels: none

v1.2.0
  CHANGELOG.md
  package.json
  src/policy/IPolicy.ts
  src/policy/Policy.ts
Labels: none

Fixing Tests
  test/mocks/PostsListener.ts
  test/vitest/__tests__/Api.test.ts
  test/vitest/__tests__/DevTools.test.ts
  test/vitest/__tests__/Model.test.ts
Labels: test

bump
  package.json
  yarn.lock
Labels: none

Api relations
  src/App.vue
  src/api/Api.ts
  src/api/IApi.ts
  src/model/Model.ts
  test/vitest/__tests__/Api.test.ts
  test/vitest/__tests__/Model.test.ts
Labels: test, api, model

Model HasONe Ongoing
  examples/Post.ts
  src/model/Model.ts
  test/mocks/http-handlers/post-author-handlers.ts
  test/vitest/__tests__/Model.test.ts
Labels: test, model

jsdocs
  src/api/Api.ts
  src/api/IApi.ts
  src/model/Model.ts
Labels: api, model

changelog
  CHANGELOG.md
  package.json
Labels: none

Update Policy.ts
  src/policy/Policy.ts
Labels: none

fixes
  examples/Post.ts
  src/App.vue
  src/model/Model.ts
  test/mocks/http-handlers/post-author-handlers.ts
  test/vitest/__tests__/Model.test.ts
  test/vitest/__tests__/ModelRelationship.test.ts
Labels: test, model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

policy methods
  src/policy/IPolicy.ts
  src/policy/Policy.ts
Labels: none

Create joinUrl.ts
  src/helpers/joinUrl.ts
Labels: helpers

Update Model.ts
  src/model/Model.ts
Labels: model

Update Model.ts
  src/model/Model.ts
Labels: model

Update Api.ts
  src/api/Api.ts
Labels: api

adding RetrievingError observer
  src/model/IModel.ts
  src/model/Model.ts
Labels: model

Create material_theme_project_new.xml
  .idea/material_theme_project_new.xml
Labels: none

Update Policy.ts
  src/policy/Policy.ts
Labels: none

fixing hasMany and HasOne
  examples/Post.ts
  src/policy/IPolicy.ts
  test/vitest/__tests__/Api.test.ts
  test/vitest/__tests__/Model.test.ts
Labels: test

v1.2.2
  CHANGELOG.md
  package.json
Labels: none

Update lint.yml
  .github/workflows/lint.yml
Labels: none

Update test.yml
  .github/workflows/test.yml
Labels: none

Fix bug: IDE isn't recognizing $validate(), $invalid, $model, and initValidations() from the library
  src/model/IModel.ts
Labels: model

Update msw.js to version 2.x, and make sure the site can still work
  package.json
  test/mocks/http-handlers/error-handlers.ts
  test/mocks/http-handlers/pinia-api-handlers.ts
  test/mocks/http-handlers/post-author-handlers.ts
  test/mocks/http-handlers/post-comment-handlers.ts
  test/mocks/http-handlers/post-handlers.ts
  test/mocks/http-handlers/user-handlers.ts
  yarn.lock
Labels: test

Update msw.js to version 2.x, and make sure the site can still work (2)
  test/mocks/http-handlers/post-author-handlers.ts
  test/mocks/http-handlers/post-comment-handlers.ts
  test/mocks/http-handlers/post-handlers.ts
Labels: test

Update yarn.lock to fix error when running `yarn lint`
  yarn.lock
Labels: none

removing tools
  tools/generate.js
  tools/templates/api/__model__Api.ts
  tools/templates/collection/__model__Grid.ts
  tools/templates/interface/__model__Interface.ts
  tools/templates/model/__model__.ts
Labels: none

v1.2.3
  CHANGELOG.md
  package.json
  src/model/IModel.ts
  test/mocks/http-handlers/handlers.ts
  test/mocks/http-handlers/model-api-handlers.ts
  test/mocks/http-handlers/post-handlers.ts
  test/vitest/__tests__/Api.test.ts
  test/vitest/__tests__/ModelApi.test.ts
  test/vitest/__tests__/Policy.test.ts
Labels: test, model

Remove unused variable ('posts') and its related imports
  src/App.vue
Labels: none

Delete all unused parameters
  test/mocks/http-handlers/post-handlers.ts
Labels: test

Fix error related to `stylish` formatter
  package.json
  yarn.lock
Labels: none

Update yarn.lock
  yarn.lock
Labels: none

Fix `yarn lint` error caused by a `eslint-plugin-unused-imports` bug https://github.com/sweepline/eslint-plugin-unused-imports/issues/77
  package.json
  yarn.lock
Labels: none

Use yarn 1.22.19 instead of yarn 1.22.22
  .github/workflows/lint.yml
  package.json
Labels: none

Fix error related to `stylish` formatter #Conflicts: # yarn.lock
  yarn.lock
Labels: none

Update yarn.lock
  yarn.lock
Labels: none

Fix error related to `stylish` formatter (2)
  package.json
  yarn.lock
Labels: none

Revert "Use yarn 1.22.19 instead of yarn 1.22.22"
  .github/workflows/lint.yml
  package.json
Labels: none

Remove unnecessary space(s) in package.json
  package.json
Labels: none
