Repository cimd/vue-eloquent, changes with the labels that .github/labeler.yml gives for each.
All labels: test, example, api, model, collection, devtools, plugins, helpers, states, enums

.github/labeler.yml:

test: test/**
example: example/**
api: src/api/**
model: src/model/**
collection: src/collection/**
devtools: src/devtools/**
plugins: src/plugins/**
helpers: src/helpers/**
states: src/states/**
enums: src/enums/**

d
  examples/PostV2.ts
  src/api/Api.ts
  src/api/ApiV2.ts
  src/api/BaseApiV2.ts
  src/model/ModelV2.ts
  test/vitest/__tests__/ApiV2.test.ts
  test/vitest/__tests__/ModelV2.test.ts
  tsconfig.json
  vite.config.ts
Labels: test, api, model

d
  src/api/BaseApiV2.ts
  src/index.d.ts
  src/index.ts
  src/model/ModelV2.ts
  src/model/ValidatorV2.ts
  tsconfig.json
  vite.config.ts
Labels: api, model

d
  examples/PostV2.ts
  src/api/ApiQuery.ts
  src/api/ApiV2.ts
  src/api/functions/show.ts
  src/model/ModelV2.ts
  src/model/ValidatorV2.ts
  test/vitest/__tests__/ApiV2.test.ts
Labels: test, api, model

Fix errors caused by @ symbol used in imports
  src/api/ApiQuery.ts
  src/api/ApiV2.ts
  src/model/ModelV2.ts
  src/model/ValidatorV2.ts
Labels: api, model

Update package.json
  package.json
Labels: none

d
  package.json
  src/api/ApiQuery.ts
  src/api/ApiV2.ts
  src/api/functions/show.ts
  src/model/ModelV2.ts
  src/model/ValidatorV2.ts
  tsconfig.json
  vite.config.ts
Labels: api, model

d
  src/api/ApiV2.ts
  src/api/functions/__tests__/transformResponse.test.ts
  src/api/functions/show.ts
  src/api/functions/transformResponse.ts
  src/helpers/objects/SerializeModel.ts
  src/helpers/objects/__tests__/SerializeModel.vitest.test.ts
  src/model/ModelV2.ts
Labels: api, model, helpers

bump axios
  package.json
  yarn.lock
Labels: none

fixes
  package.json
  src/api/Api.ts
  src/api/ApiQuery.ts
  src/model/ValidatorV2.ts
  yarn.lock
Labels: api, model

d
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
Labels: none

bump dev
  .idea/prettier.xml
  package.json
  yarn.lock
Labels: none

Removing V2
  package.json
  src/api/ApiV2.ts
  src/api/functions/__tests__/transformResponse.test.ts
  src/api/functions/show.ts
  src/api/functions/transformResponse.ts
  src/helpers/__tests__/formatDates.vitest.test.ts
  src/helpers/__tests__/formatObject.vitest.test.ts
  src/helpers/objects/SerializeModel.ts
  src/helpers/objects/__tests__/SerializeModel.vitest.test.ts
  src/helpers/objects/__tests__/diff.vitest.test.ts
  src/helpers/objects/diff.ts
  src/helpers/strings/joinUrl.ts
  src/index.d.ts
  src/index.ts
  src/model/ModelV2.ts
  src/model/ValidatorV2.ts
  test/vitest/__tests__/ApiV2.test.ts
  test/vitest/__tests__/ModelV2.test.ts
Labels: test, api, model, helpers

Removing V2
  examples/MyCast.ts
  examples/PostApiV2.ts
  examples/PostForm.vue
  examples/PostV2.ts
Labels: none

Update eslint.config.mjs
  eslint.config.mjs
Labels: none

bumping and linting
  eslint.config.js
  examples/Post.ts
  examples/PostError.ts
  examples/PostForm.vue
  examples/PostInterface.ts
  examples/PostsCollection.ts
  examples/PostsErrorCollection.ts
  examples/UserInterface.ts
  package.json
  src/App.vue
  src/EloquentError.ts
  src/api/Api.ts
  src/api/ApiError.ts
  src/api/IApi.ts
  src/api/IAxiosError.ts
  src/collection/Collection.ts
  src/collection/ICollection.ts
  src/devtools/devToolsPlugin.ts
  src/devtools/devtools.ts
  src/http/http.ts
  src/model/IModel.ts
  src/model/Model.ts
  src/model/modelInspector.ts
  src/policy/IPolicy.ts
  src/policy/Policy.ts
  test/mocks/axios-mock.ts
  test/mocks/http-handlers/post-handlers.ts
  test/mocks/http-handlers/user-handlers.ts
  test/mocks/pusher-mock.ts
  test/vitest/__tests__/Api.test.ts
  test/vitest/__tests__/ApiError.test.ts
  test/vitest/__tests__/ApiQuery.test.ts
  test/vitest/__tests__/Broadcast.test.ts
  test/vitest/__tests__/Collection.test.ts
  test/vitest/__tests__/ModelError.test.ts
  yarn.lock
Labels: test, api, model, collection, devtools

Update main.ts
  src/main.ts
Labels: none

Fix errors in unit tests
  src/collection/Collection.ts
Labels: collection

bump
  eslint.config.js
  package.json
  yarn.lock
Labels: none

prettier
  src/App.vue
  src/api/Api.ts
  src/api/ApiError.ts
  src/api/ApiQuery.ts
  src/api/IApi.ts
  src/api/IApiResponse.ts
  src/api/IAxiosError.ts
  src/auth/Auth.ts
  src/broadcast/broadcast.ts
  src/collection/Collection.ts
  src/collection/ICollection.ts
  src/collection/IQuery.ts
  src/collection/IQueryPage.ts
  src/devtools/devtools.ts
  src/enums/Action.ts
  src/enums/Actioned.ts
  src/http/http.ts
  src/index.d.ts
  src/model/IModel.ts
  src/model/IModelParams.ts
  src/model/IModelState.ts
  src/model/IValidator.ts
  src/model/MapRules.ts
  src/model/Model.ts
  src/model/Validator.ts
  src/model/modelInspector.ts
  src/policy/IPolicy.ts
  src/policy/Policy.ts
Labels: api, model, collection, devtools, enums

prettier
  examples/Acl.ts
  examples/CommentApi.ts
  examples/Post.ts
  examples/PostApi.ts
  examples/PostError.ts
  examples/PostErrorApi.ts
  examples/PostForm.vue
  examples/PostInterface.ts
  examples/PostStore.ts
  examples/PostsCollection.ts
  examples/PostsErrorCollection.ts
  examples/PostsPage.vue
  examples/UserInterface.ts
  examples/UserStore.ts
  package.json
  test/mocks/axios-mock.ts
  test/mocks/datasets/posts.json
  test/mocks/datasets/users.json
  test/mocks/http-handlers/model-api-handlers.ts
  test/mocks/http-handlers/post-author-handlers.ts
  test/mocks/http-handlers/post-comment-handlers.ts
  test/mocks/http-handlers/post-handlers.ts
  test/mocks/http-handlers/user-handlers.ts
  test/mocks/pusher-mock.ts
  test/vitest/__tests__/Api.test.ts
  test/vitest/__tests__/ApiError.test.ts
  test/vitest/__tests__/Collection.test.ts
  test/vitest/__tests__/Http.test.ts
  test/vitest/__tests__/Model.test.ts
  test/vitest/__tests__/ModelApi.test.ts
  test/vitest/__tests__/ModelError.test.ts
Labels: test

d
  eslint.config.js
  package.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.vitest.json
Labels: none

fixing types
  eslint.config.js
  examples/CommentInterface.ts
  examples/Post.ts
  examples/PostError.ts
  examples/PostInterface.ts
  examples/UserInterface.ts
  src/App.vue
  src/EloquentError.ts
  src/api/Api.ts
  src/api/ApiError.ts
  src/api/ApiQuery.ts
  src/collection/Collection.ts
  src/collection/CollectionError.ts
  src/devtools/devToolsPlugin.ts
  src/devtools/devtools.ts
  src/http/http.ts
  src/index.d.ts
  src/model/IModelParams.ts
  src/model/Model.ts
  src/model/modelInspector.ts
  src/policy/Policy.ts
  test/mocks/http-handlers/post-handlers.ts
  test/vitest/__tests__/Api.test.ts
  test/vitest/__tests__/ApiError.test.ts
  test/vitest/__tests__/Broadcast.test.ts
  test/vitest/__tests__/Model.test.ts
  test/vitest/__tests__/ModelError.test.ts
  test/vitest/__tests__/Policy.test.ts
  tsconfig.json
  vite.config.js
  vitest.config.js
Labels: test, api, model, collection, devtools

building
  index.html
  package.json
  src/App.vue
  src/api/Api.ts
  src/api/ApiError.ts
  src/api/IApi.ts
  src/api/ModelApi.ts
  src/auth/Auth.ts
  src/collection/Collection.ts
  src/collection/ICollection.ts
  src/collection/IQuery.ts
  src/helpers/formatObject.ts
  src/index.d.ts
  src/index.ts
  src/main.ts
  src/model/IModel.ts
  src/model/Model.ts
  src/model/ModelError.ts
  src/model/Validator.ts
  src/model/modelInspector.ts
  src/policy/IPolicy.ts
  src/policy/Policy.ts
  test/mocks/ErrorApi.ts
  test/vitest/__tests__/Api.test.ts
  test/vitest/__tests__/Model.test.ts
  test/vitest/__tests__/ModelError.test.ts
  test/vitest/setup-file.ts
  tsconfig.json
  vite.config.js
Labels: test, api, model, collection, helpers

1.4.0
  src/index.d.ts
  yarn.lock
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

types
  CHANGELOG.md
  package.json
  src/index.d.ts
  src/model/Model.ts
  vite.config.js
  yarn.lock
Labels: model

d
  package.json
  vite.config.js
Labels: none

1.4.2
  CHANGELOG.md
  package.json
  src/Interfaces.ts
  src/api/Api.ts
  src/api/IApi.ts
  src/collection/Collection.ts
  src/collection/ICollection.ts
  src/collection/IQuery.ts
  src/collection/IQueryPage.ts
  src/enums/Action.ts
  src/model/IModel.ts
  src/model/IModelParams.ts
  src/model/IModelState.ts
  src/model/IValidator.ts
  src/model/Model.ts
  src/policy/IPermissions.ts
  src/policy/IPolicy.ts
  src/policy/Policy.ts
  test/vitest/__tests__/ApiError.test.ts
  test/vitest/__tests__/Collection.test.ts
  tsconfig.json
  vite.config.js
  yarn.lock
Labels: test, api, model, collection, enums

types
  src/Interfaces.ts
  src/index.d.ts
Labels: none

Update .gitignore
  .gitignore
Labels: none

build
  dist/index.d.ts
  dist/src/EloquentError.d.ts
  dist/src/IEloquentError.d.ts
  dist/src/Interfaces.d.ts
  dist/src/api/Api.d.ts
  dist/src/api/ApiError.d.ts
  dist/src/api/ApiQuery.d.ts
  dist/src/api/IApiResponse.d.ts
  dist/src/api/IAxiosError.d.ts
  dist/src/api/ModelApi.d.ts
  dist/src/auth/Auth.d.ts
  dist/src/broadcast/broadcast.d.ts
  dist/src/collection/Collection.d.ts
  dist/src/collection/CollectionError.d.ts
  dist/src/collection/IQuery.d.ts
  dist/src/collection/IQueryPage.d.ts
  dist/src/devtools/devToolsPlugin.d.ts
  dist/src/devtools/devtools.d.ts
  dist/src/enums/Action.d.ts
  dist/src/enums/Actioned.d.ts
  dist/src/helpers/formatDates.d.ts
  dist/src/helpers/formatObject.d.ts
  dist/src/http/http.d.ts
  dist/src/index.d.ts
  dist/src/model/IModelParams.d.ts
  dist/src/model/IModelState.d.ts
  dist/src/model/MapRules.d.ts
  dist/src/model/Model.d.ts
  dist/src/model/ModelError.d.ts
  dist/src/model/Validator.d.ts
  dist/src/model/modelInspector.d.ts
  dist/src/policy/IPermissions.d.ts
  dist/src/policy/Policy.d.ts
  dist/vue-eloquent.js
  dist/vue-eloquent.js.map
  dist/vue-eloquent.umd.cjs
  dist/vue-eloquent.umd.cjs.map
Labels: none

d
  CHANGELOG.md
  package.json
Labels: none

d
  dist/src/collection/Collection.d.ts
  dist/src/model/Model.d.ts
  dist/vue-eloquent.js
  dist/vue-eloquent.js.map
  dist/vue-eloquent.umd.cjs
  dist/vue-eloquent.umd.cjs.map
  src/collection/Collection.ts
  src/model/Model.ts
Labels: model, collection

types
  examples/CommentApi.ts
  examples/CommentInterface.ts
  examples/Post.ts
  examples/PostInterface.ts
  examples/PostsCollection.ts
  examples/PostsErrorCollection.ts
  examples/UserApi.ts
  examples/UserInterface.ts
  src/api/Api.ts
  src/api/ApiQuery.ts
  src/enums/Action.ts
  src/model/Model.ts
  src/policy/Policy.ts
  test/vitest/__tests__/Policy.test.ts
  tsconfig.json
Labels: test, api, model, enums

removing unused dependencies
  .idea/codeStyles/Project.xml
  .prettierrc.json
  CHANGELOG.md
  eslint.config.js
  package.json
  src/api/Api.ts
  src/collection/Collection.ts
  src/model/MapRules.ts
  src/model/Model.ts
  src/policy/Policy.ts
  yarn.lock
Labels: api, model, collection

Update README.md
  README.md
Labels: none

Update Model.d.ts
  dist/src/model/Model.d.ts
Labels: none

d
  .github/workflows/test.yml
  .github/workflows/unit.yml
  examples/UserApi.ts
  package.json
  src/collection/Collection.ts
  test/vitest/__tests__/Model.test.ts
  test/vitest/setup-file.ts
  tsconfig.json
  vite.config.js
  vitest.config.js
  yarn.lock
Labels: test, collection

d
  yarn.lock
Labels: none

d
  package.json
  yarn.lock
Labels: none
