Repository cimd/vue-eloquent, pull requests merged in 2024-12, with the labels that each got.

#48 Trello Card #212: Unit Test failing
  src/collection/Collection.ts
Labels: api, collection, test, model, helpers, devtools

#50 Dev
  CHANGELOG.md
  package.json
  src/Interfaces.ts
  src/api/Api.ts
  src/api/IApi.ts
  src/collection/Collection.ts
  src/collection/ICollection.ts
  src/collection/IQuery.ts
  src/collection/IQueryPage.ts
  src/enums/Action.ts
  src/index.d.ts
  src/model/IModel.ts
  src/model/IModelParams.ts
  src/model/IModelState.ts
  src/model/IValidator.ts
  src/model/Model.ts
  src/policy/IPermissions.ts
  src/policy/IPolicy.ts
  src/policy/Policy.ts
  test/vitest/__tests__/ApiError.test.ts
  test/vitest/__tests__/Collection.test.ts
  tsconfig.json
  vite.config.js
  yarn.lock
Labels: api, collection, test, model, enums

#54 tests
  test/vitest/__tests__/Auth.test.ts
  test/vitest/__tests__/devtools.test.ts
  vitest.config.js
Labels: test
